<div class="container">
<h3><%=@flat.name%></h3>
<p>Address: <%= @flat.address %> </p>
<p>Price: <%= @flat.price_per_night%> €</p>
<p><%=@flat.description%></p>
<p>Good for: <%=@flat.number_of_guests%> people!</p>

<%= link_to "Back to list", flats_path, class: 'btn btn-primary' %>
<%= link_to "Edit flat", edit_flat_path(@flat), class: 'btn btn-gradient' %>
<%= link_to "Delete Flat",
              flat_path(@flat),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
</div>
